<h1>Stupid Coaching</h1>
<div class="card">
  <%= params[:question] %>
  <p>-You</p>
</div>
<div class="card coach">
  <p><%= @answer %></p>
  <p>-Your Coach</p>
</div>

<%= link_to "Ask a new question", ask_path %>
<!-- <a href="/ask"> Ask something again</a> -->

